<footer class="text-center py-4">
    <div class="container">
        <ul class="social list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=61562875831838"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://x.com/Movie__Zilla?t=PHB9WjJDEAqkfbLvpeLahg&s=08"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/themoviezilla?igsh=MWlrMm9hYWhqOTVlcg=="><i class="fa-brands fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <p>&copy; 2024 Moviezilla. All rights reserved. All content on this website is copyright-free and is used under proper licenses or falls under fair use.</p>
        <div class="footer-links mt-3">
            <a href="/about" class="text-white mx-2">About Us</a>
            <a href="/contact" class="text-white mx-2">Contact Us</a>
            <a href="/terms" class="text-white mx-2">Terms & Conditions</a>
            <a href="/privacy" class="text-white mx-2">Privacy Policy</a>
        </div>
    </div>
</footer>