<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/home_page/mvz_logo.webp" style="width: 50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Movies
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Popular_Movies">Popular</a></li>
                        <li><a class="dropdown-item" href="/Upcoming_Movies">Upcoming</a></li>
                        <li><a class="dropdown-item" href="/Trending_Movies">Trending</a></li>
                        <li><a class="dropdown-item" href="/Top_Rated_Movies">Top Rated</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TV Shows
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Popular_Tv_Shows">Popular</a></li>
                        <li><a class="dropdown-item" href="/On_Tv_Shows">On TV</a></li>
                        <li><a class="dropdown-item" href="/Airing_Shows_Today">Airing Today</a></li>
                        <li><a class="dropdown-item" href="/Top_Rated_Shows">Top Rated</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genre Top Picks
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Top_Actions">Action</a></li>
                        <li><a class="dropdown-item" href="/Top_Comedy">Comedy</a></li>
                        <li><a class="dropdown-item" href="/Top_Drama">Drama</a></li>
                        <li><a class="dropdown-item" href="/Top_Fantasy">Fantasy</a></li>
                        <li><a class="dropdown-item" href="/Top_Horror">Horror</a></li>
                        <li><a class="dropdown-item" href="/Top_Mystery">Mystery</a></li>
                        <li><a class="dropdown-item" href="/Top_Romance">Romance</a></li>
                        <li><a class="dropdown-item" href="/Top_sci-fi">Science Fiction</a></li>
                        <li><a class="dropdown-item" href="/Top_Thriller">Thriller</a></li>
                        <li><a class="dropdown-item" href="/Top_Documentary">Documentary</a></li>
                        <li><a class="dropdown-item" href="/Top_Animation">Animation</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">More</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/search_results" method="get">
                <input class="form-control me-2" type="search" placeholder="Enter movie name" aria-label="Search" name="q">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
