<% layout('layouts/boilerplate3') %>
<body>
    <h3 class="sticky">Top 10 Comedy Movies & Shows</h3>
    
    <div class="container-fluid px-0">
        <div class="container mt-4">
            <ol id="movieList" class="list-group">
                <li class="list-group-item" id="1"><a href="#" onclick="showMovieDetails('montyPython')">Monty Python and the Holy Grail (1975)</a></li>
                <li class="list-group-item" id="2"><a href="#" onclick="showMovieDetails('airplane')">Airplane! (1980)</a></li>
                <li class="list-group-item" id="3"><a href="#" onclick="showMovieDetails('groundhogDay')">Groundhog Day (1993)</a></li>
                <li class="list-group-item" id="4"><a href="#" onclick="showMovieDetails('americanPie')">American Pie (1999)</a></li>
                <li class="list-group-item" id="5"><a href="#" onclick="showMovieDetails('superbad')">Superbad (2007)</a></li>
                <li class="list-group-item" id="6"><a href="#" onclick="showMovieDetails('friends')">Friends (1994-2004)</a></li>
                <li class="list-group-item" id="7"><a href="#" onclick="showMovieDetails('theOffice')">The Office (U.S.) (2005-2013)</a></li>
                <li class="list-group-item" id="8"><a href="#" onclick="showMovieDetails('parksAndRec')">Parks and Recreation (2009-2015)</a></li>
                <li class="list-group-item" id="9"><a href="#" onclick="showMovieDetails('brooklynNineNine')">Brooklyn Nine-Nine (2013-2021)</a></li>
                <li class="list-group-item" id="10"><a href="#" onclick="showMovieDetails('schittsCreek')">Schitt's Creek (2015-2020)</a></li>
            </ol>

            <div id="movieDetails" class="hidden mt-4">
                <button class="btn btn-danger mb-3" onclick="goBack()">Back to List</button>
                <h2 id="movieTitle" class="text-white"></h2>
                <p id="movieDescription" class="text-white"></p>
                <a id="ottLink" href="#" class="btn btn-primary mb-3" target="_blank">Watch on OTT Platform</a>
                <div class="trailer">
                    <h3 class="text-white">Movie Trailer</h3>
                    <div class="iframe-container">
                        <iframe id="movieTrailer" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="cast">
                    <h3 class="text-white">Cast</h3>
                    <div class="row" id="castList"></div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/JS/comedy.js"></script>
</body>
</html>