<% layout('layouts/boilerplate3') %>
<body>
    <h3 class="sticky">Top 10 Fantasy Movies & Shows</h3>
    
    <div class="container-fluid px-0">
        <div class="container mt-4">
            <ol id="movieList" class="list-group">
                <!-- Placeholder list items for fantasy movies -->
                <li class="list-group-item" id="1"><a href="#" onclick="showMovieDetails('lordOfTheRings')">The Lord of the Rings: The Fellowship of the Ring (2001)</a></li>
                <li class="list-group-item" id="2"><a href="#" onclick="showMovieDetails('gameOfThrones')">Game of Thrones (2011-2019)</a></li>
                <li class="list-group-item" id="3"><a href="#" onclick="showMovieDetails('harryPotter')">Harry Potter and the Sorcerer's Stone (2001)</a></li>
                <li class="list-group-item" id="4"><a href="#" onclick="showMovieDetails('narnia')">The Chronicles of Narnia: The Lion, the Witch and the Wardrobe (2005)</a></li>
                <li class="list-group-item" id="5"><a href="#" onclick="showMovieDetails('theWitcher')">The Witcher (2019-Present)</a></li>
                <li class="list-group-item" id="6"><a href="#" onclick="showMovieDetails('pansLabyrinth')">Pan's Labyrinth (2006)</a></li>
                <li class="list-group-item" id="7"><a href="#" onclick="showMovieDetails('strangerThings')">Stranger Things (2016-Present)</a></li>
                <li class="list-group-item" id="8"><a href="#" onclick="showMovieDetails('elite')">Elite (2018-Present)</a></li>
                <li class="list-group-item" id="9"><a href="#" onclick="showMovieDetails('stardust')">Stardust (2007)</a></li>
                <li class="list-group-item" id="10"><a href="#" onclick="showMovieDetails('shadowAndBone')">Shadow and Bone (2021-Present)</a></li>
            </ol>

            <div id="movieDetails" class="hidden mt-4">
                <button class="btn btn-danger mb-3" onclick="goBack()">Back to List</button>
                <h2 id="movieTitle" class="text-white"></h2>
                <p id="movieDescription" class="text-white"></p>
                <a id="ottLink" href="#" class="btn btn-primary mb-3" target="_blank">Watch on OTT Platform</a>
                <div class="trailer">
                    <h3 class="text-white">Movie Trailer</h3>
                    <div class="iframe-container">
                        <iframe id="movieTrailer" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="cast">
                    <h3 class="text-white">Cast</h3>
                    <div class="row" id="castList"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/JS/fantasy.js"></script>
</body>
</html>