<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1978770604039526"
     crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-1978770604039526"> 
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS56SCT6CM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-CS56SCT6CM');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie Zilla is your ultimate source for the latest news, in-depth reviews, and detailed information on movies and TV shows from around the world. Explore popular movies, upcoming releases, top-rated films, trending movies, and TV shows globally. Discover what's airing today, find popular TV shows, top-rated series, and explore movies by genre. Find your next favorite film or TV show with Movie Zilla's comprehensive content." />
    <meta name="keywords" content="movies, movie reviews, film news, TV shows, latest movies, movie ratings, movie recommendations, web-series recommendations, popular movies, upcoming movies, top-rated movies, trending movies, popular TV shows, top-rated TV shows, airing today TV shows, on TV shows, top movies by genre, global movies, international movies, 2024 movies, 2024 TV shows" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://moviezilla.in/" />

    <!-- meta for copyright -->
    <meta name="copyright" content="© 2024 Moviezilla. All rights reserved.">
    <meta name="robots" content="index, follow">

    <!-- Hreflang Tags for International SEO -->
    <link rel="alternate" href="https://moviezilla.in/" hreflang="en" /> <!-- English -->
    <link rel="alternate" href="https://moviezilla.in/es/" hreflang="es" /> <!-- Spanish -->
    <link rel="alternate" href="https://moviezilla.in/fr/" hreflang="fr" /> <!-- French -->
    <link rel="alternate" href="https://moviezilla.in/de/" hreflang="de" /> <!-- German -->
    <link rel="alternate" href="https://moviezilla.in/it/" hreflang="it" /> <!-- Italian -->
    <link rel="alternate" href="https://moviezilla.in/pt/" hreflang="pt" /> <!-- Portuguese -->
    <link rel="alternate" href="https://moviezilla.in/zh/" hreflang="zh" /> <!-- Chinese -->
    <link rel="alternate" href="https://moviezilla.in/ja/" hreflang="ja" /> <!-- Japanese -->
    <link rel="alternate" href="https://moviezilla.in/ko/" hreflang="ko" /> <!-- Korean -->
    <link rel="alternate" href="https://moviezilla.in/ru/" hreflang="ru" /> <!-- Russian -->
    <link rel="alternate" href="https://moviezilla.in/ar/" hreflang="ar" /> <!-- Arabic -->
    <link rel="alternate" href="https://moviezilla.in/hi/" hreflang="hi" /> <!-- Hindi -->
    <link rel="alternate" href="https://moviezilla.in/pa/" hreflang="pa" /> <!-- Punjabi -->
    <link rel="alternate" href="https://moviezilla.in/ur/" hreflang="ur" /> <!-- Urdu -->

    <!-- Open Graph Tags -->
    <meta property="og:title" content="Movie Zilla - Latest Global Movie News, Reviews, and More" />
    <meta property="og:description" content="Movie Zilla offers the latest news, in-depth reviews, and detailed information on movies and TV shows from around the world. Discover your next favorite film with our comprehensive content." />
    <meta property="og:image" content="https://moviezilla.in/assets/home_page/mvz_logo.webp" />
    <meta property="og:url" content="https://moviezilla.in/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Movie Zilla - Latest Global Movie News, Reviews, and More" />
    <meta name="twitter:description" content="Movie Zilla offers the latest news, in-depth reviews, and detailed information on movies and TV shows from around the world. Discover your next favorite film with our comprehensive content." />
    <meta name="twitter:image" content="https://moviezilla.in/assets/home_page/mvz_logo.webp" />
    
    <link rel="icon" href="/assets/home_page/mvz_logo.webp">
    <title>Movie Zilla - Latest Movie News, Reviews, and More</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="contains">
        <%- body %>
    </div>
    <%- include('../includes/footer.ejs') %>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var dropdowns = document.querySelectorAll('.navbar-nav .nav-item .dropdown-toggle');
      
          dropdowns.forEach(function(dropdown) {
            dropdown.addEventListener('click', function(event) {
              if (window.innerWidth < 992) { // Change this value based on your breakpoints
                event.preventDefault();
                var submenu = this.nextElementSibling;
                if (submenu.style.display === 'block') {
                  submenu.style.display = 'none';
                } else {
                  submenu.style.display = 'block';
                }
              }
            });
          });
        });
    </script>
      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>