<% layout('layouts/boilerplate2') %>
<body>
    <h3 class="sticky">Popular TV Shows</h3>
    <div class="container-fluid px-0">
        <div class="container mt-4">
            <div class="tvshow_card"></div>
            <div id="tvshowDetails" class="hidden mt-4">
                <button class="btn btn-danger mb-3" onclick="goBack()">Back to List</button>
                <h2 id="tvshowTitle" class="text-white"></h2>
                <p id="tvshowDescription" class="text-white"></p>
                <a id="ottLink" href="#" class="btn btn-primary mb-3" target="_blank">Watch on OTT Platform</a>
                <div class="trailer">
                    <h3 class="text-white">TV Show Trailer</h3>
                    <div class="iframe-container">
                        <iframe id="tvshowTrailer" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="cast">
                    <h3 class="text-white">Cast</h3>
                    <div class="row" id="castList"></div>
                </div>
                <div class="where-to-watch mt-4">
                    <h3 class="text-white">Where to Watch</h3>
                    <ul id="watchProvidersList" class="text-white"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/JS/populartv.js"></script>
</body>
</html>
