<% layout('layouts/boilerplate2') %>
<body>
    <h3 class="sticky">Top Rated Shows</h3>
    <div class="container">
        <div class="my-4 text-center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1978770604039526"
                    crossorigin="anonymous"></script>
            <!-- Homepage_Top_Banner -->
            <ins class="adsbygoogle"
                 style="display:block; margin: 0 auto; max-width: 100%;"
                 data-ad-client="ca-pub-1978770604039526"
                 data-ad-slot="5417322792"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div></div>
    <div class="container-fluid px-0">
        <div class="container mt-4">
            <div class="tvshow_card"></div>
            <div id="tvshowDetails" class="hidden mt-4">
                <button class="btn btn-danger mb-3" onclick="goBack()">Back to List</button>
                <h2 id="tvshowTitle" class="text-white"></h2>
                <p id="tvshowDescription" class="text-white"></p>
                <a id="ottLink" href="#" class="btn btn-primary mb-3" target="_blank">Watch on OTT Platform</a>
                <div class="trailer">
                    <h3 class="text-white">TV Show Trailer</h3>
                    <div class="iframe-container">
                        <iframe id="tvshowTrailer" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="iframe-container">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1978770604039526"
                    crossorigin="anonymous"></script>
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="fluid"
                        data-ad-layout-key="-ef+6k-30-ac+ty"
                        data-ad-client="ca-pub-1978770604039526"
                        data-ad-slot="6699157449"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="cast">
                    <h3 class="text-white">Cast</h3>
                    <div class="row" id="castList"></div>
                </div>
                <div class="where-to-watch mt-4">
                    <h3 class="text-white">Where to Watch</h3>
                    <ul id="watchProvidersList" class="text-white"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="my-4 text-center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1978770604039526"
                    crossorigin="anonymous"></script>
            <!-- Homepage_Top_Banner -->
            <ins class="adsbygoogle"
                 style="display:block; margin: 0 auto; max-width: 100%;"
                 data-ad-client="ca-pub-1978770604039526"
                 data-ad-slot="5417322792"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div></div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/JS/topratedtv.js"></script>
</body>
</html>
