<% layout('layouts/boilerplate') %>
<body>
    <div class="container py-5">
        <h1>Contact Us</h1>
        <p>If you have any questions, comments, or suggestions, feel free to reach out to us. You can contact us at:</p>
        <ul>
            <li>Email: moviezilla50@gmail.com</li>
            <li>Phone: +917727928662</li>
            <li>Address: 4E-223, Section-3, Building no.27-Patel nagar_Mumbai(India), 400004</li>
        </ul>
    </div>
</body>
</html>
