<% layout('layouts/boilerplate') %>
<body>
    <div class="container py-5">
        <h1>Copyright & Licensing Information</h1>
        <p>All content on Moviezilla, including text, images, and videos, is either created by us, used with permission, or is in the public domain. We adhere to all copyright laws and respect the intellectual property of others.</p>
        <h2>Sources and Licensing</h2>
        <p>We use content from the following sources:</p>
        <ul>
            <li>Movie posters, descriptions, and ratings are fetched via the TMDB API and are used under their <a href="https://www.themoviedb.org/documentation/api/terms-of-use" target="_blank">API Terms of Use</a>.</li>
            <li>Original content, such as movie reviews and blog posts, is created by our team and is copyright-free.</li>
        </ul>
        <p>If you believe that any content on our site violates copyright laws, please <a href="/contact">contact us</a>.</p>
    </div>
</body>
</html>
