body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #000;
    border: 10px solid #000;
}

.navbar-brand {
    font-size: 2.5rem; /* Increased font size */
    margin: 2rem 2rem;
}

.list-group {
    text-align: center; /* Align list items to center */
    padding-left: 0; /* Remove default padding */
}

.list-group-item {
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Add bottom border */
}

.list-group-item:last-child {
    border-bottom: none; /* Remove bottom border for last item */
}

.list-group-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.hidden {
    display: none;
}

.btn-primary, .btn-danger {
    border-radius: 25px;
    padding: 10px 20px;
}

.text-white {
    color: #fff;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cast {
    margin-top: 20px;
}

.card {
    background-color: #000;
    border: none;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
}

#movieDetails {
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Add border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: #fff;
    margin-top: 20px;
}

#home {
    position: absolute;
    top: 1.1em;
    left: 1.3em;
    font-size: 2.5rem;
    display: block; /* Ensure the home icon is always visible */
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
    }

    .card {
        width: 40% /* Make cards full width on smaller screens */
    }

    #home {
        font-size: 1.5rem;
        top: 5px; /* Adjust top position for smaller screens */
        left: 5px; /* Adjust left position for smaller screens */
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 2rem; /* Decrease font size for medium screens */
    }

    .home-icon {
        display: block; /* Show the home icon on smaller screens */
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* Style the hamburger icon */
    .home-icon a {
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }
}
